AI COPIOLT/Agent_Doctor_X402.json
{
  "name": "Doctor",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=- ROLE: You are the Senior Intake Coordinator at {{ $json.hospitalName }}.\n- OBJECTIVE: Coordinate immediate resource allocation for an incoming critical patient.\n- CONSTRAINTS:\n    1. Respond ONLY in structured JSON.\n    2. Do NOT use external tools; use your internal logic to simulate hospital status.\n    3. If 'severity' is \"Critical\", prioritize the Red Trauma Zone.\n- LOGIC:\n    1. Check 'bedStatus': If ETA is under 30 mins, set to \"Reserved & Ready\". If over 30 mins, set to \"Available\".\n    2. Assign 'onCallDoctor': Use a rotation of (Dr. Mehta, Dr. Rao, Dr. Singh).\n    3. Generate 'intakeNote': A one-sentence medical prep instruction.\n- OUTPUT SCHEMA:\n{\n  \"bedStatus\": \"string\",\n  \"onCallDoctor\": \"string\",\n  \"intakeNote\": \"string\",\n  \"hospitalCode\": \"string (e.g., 'TRAUMA-ZONE-A')\"\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an emergency triage doctor assistant.\nYour task is to assess hospital readiness based on:\n- patient injury\n- severity\n- estimated arrival time\n- hospital name\n\nDecide:\n- bed availability requirement\n- on-call specialist\n- immediate preparation steps\nRespond in simple JSON only.\nDo not include explanations.\nDo not include extra fields."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "7482dc6c-5c53-4b9a-b51c-87684648fe22",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "CUSTOM.zyndAgentPublisher",
      "typeVersion": 1,
      "position": [
        384,
        16
      ],
      "id": "bd35f882-54b4-4965-834c-33be9624b1a0",
      "name": "Zynd Agent Publisher",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "zyndAiApi": {
          "id": "GCKj1KX9buDNSph2",
          "name": "ZyndAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "CUSTOM.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        176
      ],
      "id": "bf616df4-6251-4767-b1ba-cab8be713972",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "responseMode": "responseNode",
        "serverWalletAddress": "0x72a3D04dbA1E1ff3C818CB26d259B9e765d20ed1",
        "price": "$0",
        "options": {}
      },
      "type": "CUSTOM.zyndX402Webhook",
      "typeVersion": 1,
      "position": [
        -384,
        112
      ],
      "id": "48924d25-c186-4766-ad78-be41ca07658c",
      "name": "Trigger Node",
      "webhookId": "1d2dfee5-bb3f-403d-ac35-58b1ceea6bba"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"hospitalName\": \"{{ $json.body.hospitalName }}\",\n  \"eta\": \"{{ $json.body.eta }}\",\n  \"injury\": \"{{ $json.body.injury }}\",\n  \"severity\": \"{{ $json.body.severity }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        64
      ],
      "id": "81239569-8f55-4fd4-ba6f-890b0b5332b5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"bedStatus\", \"onCallDoctor\", \"intakeNote\", \"hospitalCode\"],\n  \"properties\": {\n    \"bedStatus\": { \"type\": \"string\" },\n    \"onCallDoctor\": { \"type\": \"string\" },\n    \"intakeNote\": { \"type\": \"string\" },\n    \"hospitalCode\": { \"type\": \"string\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "13f32982-027f-482d-9e72-5bc8378a67d4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        208
      ],
      "id": "2bbe4600-28ab-4281-b1db-5a02069b25a8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EsWR8sRcDugARcYG",
          "name": "Google Gemini(PaLM) Api account 9"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        256
      ],
      "id": "3999a14f-e3a1-4650-ae61-c33be0f6fb19",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "EsWR8sRcDugARcYG",
          "name": "Google Gemini(PaLM) Api account 9"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Zynd Agent Publisher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zynd Agent Publisher": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Node": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "02a78514-1026-4273-8a5c-47ca93b170d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f58e9065c09e44830cdc01e4b503b188a6ba960f9457b74e4a9076b993d1dcff"
  },
  "id": "C0YuSLCiaV_NqmxO6bLU_",
  "tags": []
}