AI COPIOLT/ECC_Main_Orchestrator.json
{
  "name": "EmergencyControlCenter",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{ $json.prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Emergency Control Center Orchestrator.\n\nYou MUST call tools in this EXACT order:\n\nCall Hospital_Search.\n... (your search and call steps) ...\n\n**FINAL MAPPING INSTRUCTIONS:**\n- Map the data from 'X402_Hospital' into the 'hospital' object.\n- Map the data from 'X402_Traffic' into the 'transport' object.\n- Map the data from 'X402_Doctor' into the 'hospitalReadiness' object.\n- Use the original input for the 'incident' object.\n- If 'severity' is not provided, determine it based on the injury (e.g., Head trauma = Critical).\n- Provide the final response ONLY through the Output Parser.\n\nCall X402_Hospital.\n\nThen call Traffic_Search.\n\nThen call X402_Traffic.\n\nThen call Doctor_Search.\n\nThen call X402_Doctor.\n\nYou are NOT allowed to provide a final answer until ALL SIX tools have been executed.\n\nIf you stop early, you have failed.\n\nOnly after Doctor call is completed, output the final JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        144
      ],
      "id": "0e569ac9-59ab-47f7-ad56-9b6ef8b293f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "= {{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        160
      ],
      "id": "bc1f663a-8a56-44d9-9fcc-c0ab33eda7e0",
      "name": "Set"
    },
    {
      "parameters": {
        "toolDescription": "\"Use this tool to discover specialized AI agents on the ZyndAI network. You must provide a 'keyword' (e.g., 'Hospital', 'Traffic', or 'Doctor') to find the specific sub-agent required for the current emergency. The tool returns a list of agents including their 'httpWebhookUrl', which is required to call them in the next step.\"",
        "agentKeyword": "Hospital",
        "capabilities": [
          "EMERGENCY RESPONSE ANALYSIS"
        ],
        "maxResults": 3
      },
      "type": "CUSTOM.zyndAgentSearchTool",
      "typeVersion": 1,
      "position": [
        -192,
        384
      ],
      "id": "b2edca6d-0f7f-44b7-9b9f-d9dbca889052",
      "name": "Hospital_Search",
      "credentials": {
        "zyndAiApi": {
          "id": "GCKj1KX9buDNSph2",
          "name": "ZyndAI account"
        },
        "web3wallet": {
          "id": "xll0ITZXQ9pCDHEx",
          "name": "Web3 Wallet Credentials account"
        }
      }
    },
    {
      "parameters": {
        "agentKeyword": "Traffic",
        "maxResults": 1
      },
      "type": "CUSTOM.zyndAgentSearchTool",
      "typeVersion": 1,
      "position": [
        48,
        448
      ],
      "id": "7ab8393a-1d40-4040-a9a5-01466ed6683e",
      "name": "Traffic_Search",
      "credentials": {
        "zyndAiApi": {
          "id": "GCKj1KX9buDNSph2",
          "name": "ZyndAI account"
        },
        "web3wallet": {
          "id": "X3NCKz4IaIYqyoTa",
          "name": "Web3 Wallet Credentials account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://test-n8n.zynd.ai/webhook/8368ef49-5e1a-407b-9f56-6b6d6fa83b93/pay",
        "method": "POST",
        "sendBody": true,
        "jsonBody": "= {{ $json.prompt }}",
        "sendHeaders": true,
        "maxPaymentUsd": 0
      },
      "type": "CUSTOM.zyndHttpRequestX402Tool",
      "typeVersion": 1,
      "position": [
        -64,
        384
      ],
      "id": "55d74b09-fb98-48f4-9c4e-4f6fc0d387fd",
      "name": "X402_Hospital",
      "credentials": {
        "web3wallet": {
          "id": "X3NCKz4IaIYqyoTa",
          "name": "Web3 Wallet Credentials account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://test-n8n.zynd.ai/webhook/256ee585-23a7-4df4-bceb-0b89618eb5b9/pay",
        "method": "POST",
        "sendBody": true,
        "jsonBody": "= {\n  \"incidentLocation\": \"{{ $('Set').item.json.location }}\",\n  \"destination\": \"{{ $('X402_Hospital').item.json.body.address }}\",\n  \"patientId\": \"{{ $('Set').item.json.patientId }}\"\n}",
        "maxPaymentUsd": 0
      },
      "type": "CUSTOM.zyndHttpRequestX402Tool",
      "typeVersion": 1,
      "position": [
        144,
        384
      ],
      "id": "f4509de0-3236-4640-9089-628e7e1a7e93",
      "name": "X402_Traffic",
      "credentials": {
        "web3wallet": {
          "id": "X3NCKz4IaIYqyoTa",
          "name": "Web3 Wallet Credentials account 2"
        }
      }
    },
    {
      "parameters": {
        "agentKeyword": "Doctor"
      },
      "type": "CUSTOM.zyndAgentSearchTool",
      "typeVersion": 1,
      "position": [
        336,
        496
      ],
      "id": "3d5be578-eb95-4561-93cd-548b7f80fa7d",
      "name": "Doctor_Search",
      "credentials": {
        "zyndAiApi": {
          "id": "GCKj1KX9buDNSph2",
          "name": "ZyndAI account"
        },
        "web3wallet": {
          "id": "X3NCKz4IaIYqyoTa",
          "name": "Web3 Wallet Credentials account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://test-n8n.zynd.ai/webhook/1d2dfee5-bb3f-403d-ac35-58b1ceea6bba/pay",
        "method": "POST",
        "sendBody": true,
        "jsonBody": "= {\n  \"hospitalName\": \"{{ $('X402_Hospital').item.json.body.hospitalName }}\",\n  \"eta\": \"{{ $('X402_Traffic').item.json.body.eta }}\",\n  \"injury\": \"{{ $('Set').item.json.injury }}\"\n}",
        "maxPaymentUsd": 0
      },
      "type": "CUSTOM.zyndHttpRequestX402Tool",
      "typeVersion": 1,
      "position": [
        256,
        416
      ],
      "id": "2ffcd2a5-8fbf-4d95-80a9-d55fb6fdc9d1",
      "name": "X402_Doctor",
      "credentials": {
        "web3wallet": {
          "id": "X3NCKz4IaIYqyoTa",
          "name": "Web3 Wallet Credentials account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        368
      ],
      "id": "408619fe-91f1-4e8a-aebf-10853673907f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QuWkYGc8c3RRJpUy",
          "name": "Google Gemini(PaLM) Api account 8"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"patientId\": { \"type\": \"string\" },\n    \"incident\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"injury\": { \"type\": \"string\" },\n        \"location\": { \"type\": \"string\" },\n        \"severity\": { \"type\": \"string\" }\n      }\n    },\n    \"hospital\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"hospitalName\": { \"type\": \"string\" },\n        \"address\": { \"type\": \"string\" },\n        \"specialty\": { \"type\": \"string\" },\n        \"confidence\": { \"type\": \"number\" }\n      }\n    },\n    \"transport\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"eta\": { \"type\": \"string\" },\n        \"distance\": { \"type\": \"number\" },\n        \"trafficDelay\": { \"type\": \"number\" }\n      }\n    },\n    \"hospitalReadiness\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"bedStatus\": { \"type\": \"string\" },\n        \"onCallDoctor\": { \"type\": \"string\" },\n        \"intakeNote\": { \"type\": \"string\" },\n        \"hospitalCode\": { \"type\": \"string\" }\n      }\n    },\n    \"status\": { \"type\": \"string\" }\n  },\n  \"required\": [\"patientId\", \"incident\", \"hospital\", \"transport\", \"hospitalReadiness\", \"status\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        464,
        464
      ],
      "id": "c4329cd0-db85-48a4-a9d4-80a6f51a08fb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "responseMode": "responseNode",
        "serverWalletAddress": "0x72a3D04dbA1E1ff3C818CB26d259B9e765d20ed1",
        "price": "$0",
        "options": {}
      },
      "type": "CUSTOM.zyndX402Webhook",
      "typeVersion": 1,
      "position": [
        -608,
        304
      ],
      "id": "b613a24f-8d84-4d4c-a358-6ba7a3739380",
      "name": "X402 Webhook",
      "webhookId": "44dc9902-3e19-4448-ace3-c371e5b2e7e2"
    },
    {
      "parameters": {},
      "type": "CUSTOM.zyndAgentPublisher",
      "typeVersion": 1,
      "position": [
        352,
        144
      ],
      "id": "0f7120b7-d073-4c88-8abc-7e85e48c13fe",
      "name": "Zynd Agent Publisher",
      "credentials": {
        "zyndAiApi": {
          "id": "Y3o0IfDteWPJ4aXO",
          "name": "zyndTech"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "type": "CUSTOM.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        224
      ],
      "id": "880ada21-d31f-459a-8056-9c29659f323a",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Zynd Agent Publisher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hospital_Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Traffic_Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "X402_Hospital": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "X402_Traffic": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Doctor_Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "X402_Doctor": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "X402 Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zynd Agent Publisher": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "31836824-0448-4db3-a18c-ca1b4fcbaabb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f58e9065c09e44830cdc01e4b503b188a6ba960f9457b74e4a9076b993d1dcff"
  },
  "id": "CdpZDk1zR02QlH-9sbLlU",
  "tags": []
}